mysql-connector-python
python-dotenv


#para baixar as dependências, use:
#pip install -r requirements.txt
# esse comando serve para instalar todas as bibliotecas listadas no arquivo requirements.txt

# esse arquivo serve para listrar os que voce já tem instalado.
# pip freeze > requirements.txt
#as vezes ele traz arquivos que não usamos nesse projeto, então é bom revisar.

#--- Fim do arquivo requirements.txt ---